################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyApp.Application/bin/Debug/net10.0
/MyApp.Application/obj
/MyApp.Domain/bin/Debug/net10.0
/MyApp.Domain/obj
/MyApp.Infrastructure/bin/Debug/net10.0
/MyApp.Infrastructure/obj
/MyApp.API/bin/Debug/net10.0
/MyApp.API/obj
/.idea
